$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

.app {
    color: #e5e5e5;
    background-color: #001c29;

    width: 900px;
    margin: 50px auto;
}