<div class="dashboard">
  <div class="section">
    <div class="section-header">Current orders</div>
    <div class="section-content">
      <div class="order" *ngFor="let order of orders | async">
        <div class="restaurant-logo">
          <img src="http://pastainbox.com/assets/img/logo.png" />
        </div>
        <div class="restaurant-name">{{order.restaurant}}</div>
        <div class="order-people">
          <span class="order-people-icon"><i class="fa fa-users"></i></span>
          <span class="order-people-value">{{order.users.length}}</span>
        </div>
        <div class="order-money">
          <span class="order-money-icon"><i class="fa fa-money"></i></span>
          <span class="order-money-value">60%</span>
        </div>
        <div class="order-button-join">JOIN</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-header">Hottest restaurant</div>
    <div class="section-content">
      <div *ngFor="let restaurant of restaurants | async">
        {{ restaurant | json }}
      </div>
    </div>
  </div>
  <div class="section"></div>
  <div class="section">
    <div class="section-header">Best restaurant</div>
  </div>
</div>

<router-outlet></router-outlet>